@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Francis Ramírez</h1>
    <p>This is the Consuming Web API Project developed by me Emmanuel Soto 2022-2092 your student in the Programming 2 class at the <br /> <a target="_blank" href="https://itla.edu.do/">Technological Institute of the Americas (ITLA)</a>.</p>
</div>
